* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mask-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

#introduction {
  margin: 30px 0;
}

#introduction h1 {
  font-size: 24px;
  color: #0093d5;
}

#introduction .sign-in-button #my-signin2 {
  display: inline-block;
}

#introduction .sign-in-button #my-signout2 {
  display: none;
  padding: 10px 30px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #fff;
}

#data-table {
  padding: 10px 20px;
  border: 1px solid #aaaaaa;
}

#data-table .thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdfdfd;
  border-bottom: 1px solid black;
}

#data-table .thead span {
  font-size: 14px;
  font-weight: 700;
}

#data-table .thead span:not(:first-child) {
  padding: 0 10px !important;
}

#data-table #data {
  max-height: 60vh;
  overflow: auto;
}

#data-table #data .country div:nth-child(odd) {
  background-color: whitesmoke;
}

#data-table #data .country div span {
  display: inline-block;
  color: black;
  font-weight: 450;
  padding: 10px 0;
}

#data-table #data .country div span img {
  display: inline-block;
  max-width: 30px;
  margin-right: 5px;
}

#data-table #data .country div span:nth-child(4) {
  color: red;
  font-weight: 550;
}

#data-table #data #loading {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

#last-update {
  margin: 30px 0;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 100;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  display: none;
}

#popup .message {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 18px;
  text-align: center;
}

#popup .btn {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#popup .btn button {
  padding: 15px 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  min-width: 100px;
  margin: 0 10px;
}

#popup .btn #accept {
  color: #fff;
  background-color: #268fff;
}

#popup .btn #cancel {
  color: #4b4b4b;
  background-color: #ebebeb;
}

@media screen and (max-width: 768px) {
  #introduction h1 {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 480px) {
  #introduction {
    margin: 25px 0 !important;
  }
  #introduction h1 {
    font-size: 14px !important;
  }
  #data-table {
    padding: 0 !important;
  }
  #data-table .thead span {
    font-size: 11px !important;
  }
  #data-table #data span {
    font-size: 11px !important;
  }
  #popup .message {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 360px) {
  #introduction {
    margin: 25px 0 !important;
  }
  #introduction h1 {
    font-size: 14px !important;
  }
  #data-table {
    padding: 0 !important;
  }
  #data-table .thead span {
    font-size: 10px !important;
  }
  #data-table #data span {
    font-size: 10px !important;
  }
  #popup button {
    padding: 10px 15px !important;
    min-width: 60px !important;
  }
}
/*# sourceMappingURL=style-datatable.css.map */